<section class="main-article">
  <div class="container">
    <div class="main-article--wrapper">
      <div class="main-article--grid">
        <div class="main-article--content">
          <h2 class="h3">Co zde nalezneme?</h2>
          <p>V současnosti roste počet žen, které musí v období gravidity pravidelně užívat psychofarmaka z důvodu duševního
            onemocnění. Většina psychofarmak přechází přes placentu do oběhu plodu, a tak mohou ovlivňovat jeho vývoj.
            Nicméně i neléčené duševní onemocnění v těhotenství představuje rizikový faktor pro narušení průběhu gravidity,
            vývoje plodu a horší poporodní adaptaci novorozence. </p>
          <p>V&nbsp;otázkách psychofarmakologie v&nbsp;graviditě tedy musíme vyhodnotit tato přítomná potenciální rizika u našich
            pacientek vždy individuálně. Přinášíme proto: </p>
          <ol>
            <li>informace o specificích vybraných duševních poruch v&nbsp;těhotenství</li>
            <li> Informace o psychofarmacích v graviditě</li>
          </ol>
          <h2 class="h3">Pro koho je obsah určen?</h2>
          <p>Pro lékaře a lékařky, kteří mají v&nbsp;péči těhotné ženy a starají se o jejich duševní zdraví a chtějí svou péči
            poskytovat dle aktuálního stavu poznání. </p>
          <h2 class="h3">Jak vám můžeme pomoci?</h2>
          <p>Perinatální ambulance Národního ústavu duševního zdraví v&nbsp;Klecanech poskytuje konziliární vyšetření v&nbsp;oblasti
            psychofarmakologie v&nbsp;graviditě (pro informace kontaktujte
            <a href="mailto:ambulance@nudz.cz">ambulance@nudz.cz</a>. </p>
          <p>
            <small> <strong>Upozornění:</strong> Informace zde prezentované nejsou míněny jako náhrada za odborný úsudek
              ošetřujícího lékaře / lékařky. Doporučení ohledně těhotenství a kojení týkající se vaší konkrétní situace
              byste
              měli konzultovat se svým poskytovatelem zdravotní péče. Nezaručujeme ani nepřebíráme žádnou zodpovědnost nebo
              odpovědnost za přesnost nebo úplnost informací na této stránce. </small>
          </p>
        </div>
        <div class="main-article--aside">
          <h2 class="h3">Připravená témata</h2>
          <div class="main-article--box">
            <a href="{{ path('app_default_pageAction_forProfessionals_pregnancy', {'slug':'obecna-psychofarmakologie-v-tehotenstvi'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Obecná psychofarmakologie v těhotenství</span>
              <span class="main-article--box--text">Délka: 8min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
            <a href="{{ path('app_default_pageAction_forProfessionals_pregnancy', {'slug':'antidepresiva-a-tehotenstvi'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Antidepresiva a těhotenství</span>
              <span class="main-article--box--text">Délka: 10min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
            <a href="{{ path('app_default_pageAction_forProfessionals_pregnancy', {'slug':'antipsychotika-a-tehotenstvi'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Antipsychotika a těhotenství</span>
              <span class="main-article--box--text">Délka: 10min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
            <a href="{{ path('app_default_pageAction_forProfessionals_pregnancy', {'slug':'stabilizatory-nalady-a-tehotenstvi'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Stabilizátory nálady a těhotenství</span>
              <span class="main-article--box--text">Délka: 11min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
            <a href="{{ path('app_default_pageAction_forProfessionals_pregnancy', {'slug':'anxiolytika-a-tehotenstvi'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Anxiolytika a těhotenství</span>
              <span class="main-article--box--text">Délka: 11min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
            <a href="{{ path('app_default_pageAction_forProfessionals_pregnancy', {'slug':'depresivni-porucha-a-tehotenstvi'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Depresivní porucha a těhotenství</span>
              <span class="main-article--box--text">Délka: 5min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
            <a href="{{ path('app_default_pageAction_forProfessionals_pregnancy', {'slug':'bipolarni-porucha-a-tehotenstvi'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Bipolární porucha a těhotenství</span>
              <span class="main-article--box--text">Délka: 8min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
            <a href="{{ path('app_default_pageAction_forProfessionals_pregnancy', {'slug':'psychoticke-poruchy-a-tehotenstvi'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Psychotické poruchy a těhotenství</span>
              <span class="main-article--box--text">Délka: 4min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
