<section class="blog-detail">
  <div class="container">
    <div class="blog-detail--wrapper">
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Bipolární afektivní porucha
      </h2>
      <p>Bipolární porucha, kterou můžete znát i pod zastaralým názvem maniodepresivní porucha, se projevuje střídáním epizod mánie, deprese a období normální nálady. Jedná se o celoživotní onemocnění s velmi různorodým průběhem.</p>
      <p>Pokud máte bipolární poruchu a plánujete těhotenství nebo jste již těhotná, je velmi důležité informovat svého ošetřujícího lékaře či lékařku a také o tom mluvit se svým gynekologem. Jedině tak pak můžete mít veškerou podporu, kterou v těhotenství a při porodu potřebujete.</p>
      <p>Hodně žen, které mají bipolární poruchu, mají bezproblémové těhotenství a zdravé děti, ale je nutno pamatovat na to, že hlavně po porodu existují určitá rizika.</p>
      <p>Pokud máte bipolární poruchu, je u vás vyšší riziko, že:</p>
      <ul>
        <li>Se u vás po porodu rozvine <a href="{{ path('app_default_pageAction_forWomen_postpartum', {'slug':'poporodni-psychoza'}) }}">poporodní psychóza</a></li>
        <li>Po porodu se u vás rozvine <a href="{{ path('app_default_pageAction_forWomen_postpartum', {'slug':'poporodni-deprese'}) }}">poporodní deprese</a></li>
        <li>Pokud náhle vysadíte v těhotenství léky, které vás stabilizovaly, může dojít ke zhoršení vašeho stavu</li>
      </ul>
      <h3>Jak je častá bipolární porucha</h3>
      <p>Přibližně u jednoho ze sta lidí (muži i ženy) se během života objeví bipolární porucha.</p>
      <p>Až u 60 % žen s bipolární poruchou se po porodu může rozvinout <a href="{{ path('app_default_pageAction_forWomen_postpartum', {'slug':'poporodni-psychoza'}) }}">poporodní psychóza</a>, pokud nejsou léčeny. Jedná se o závažný stav, kterému je lepší předcházet.</p>
      <h3>Těhotenství s bipolární poruchou</h3>
      <p>Pokud plánujete otěhotnět, je nejlepší mluvit se svým psychiatrem nebo psychiatričkou ještě před početím, abyste mohli nastavit léky tak, aby vám pomáhaly a byly bezpečné pro dítě.  Těhotenství může být i neplánované, v tom případě však kontaktujte svého ošetřující lékaře co nejdříve, abyste mohli případně upravit léky. Nevysazujte medikaci bez toho, abyste to konzultovala se svým ošetřujícím lékařem.</p>
      <p>Plánování těhotenství se svým ošetřujícím lékařem před tím, než se budete pokoušet o miminko, vám pomůže nabýt jistotu, že:</p>
      <ul>
        <li>Užíváte léky, které jsou nejlepší pro vás a jsou bezpečné pro vaše dítě</li>
        <li>Váš stav je stabilní</li>
        <li>Poznáte i malé varovné signály toho, že se váš stav mění.</li>
        <li>I váš partner je obeznámen se specifikou bipolární poruchy během těhotenství a po porodu</li>
      </ul>
      <p>Takováto příprava a pravidelné kontroly během těhotenství a hlavně po porodu snižují riziko, že se váš stav po porodu zhorší.</p>
      <h2>
        <span class="icon icon--icon-chat-messages-bubble-conversation-color">
          <svg class="icon__svg"><use xlink:href="#icon-chat-messages-bubble-conversation-color"></use></svg>
        </span>
        Obsedantně kompulzivní porucha
      </h2>
      <p>Pokud máte obsedantně kompulzivní poruchu (OCD), objevují se u vás vtíravé myšlenky a kompulzivní chování. Vtíravé, obsesivní myšlenky jsou nechtěné, nepříjemné a rozrušující myšlenkové obrazy, které se derou pořád dokola do mysli. Tyto myšleny mohou vyvolávat úzkost.</p>
      <p>Kompulzivní chování a jednání pomáhá krátkodobě snižovat úzkost a zahánět vtíravé myšlenky. Ale pomůže jen na chvíli a může zabírat velkou část dne. Nejčastěji se jedná o mytí, kontrolování nebo počítání věcí.</p>
      <h3>Perinatální OCD</h3>
      <p>Pokud se u vás během těhotenství nebo po porodu objeví obsese a kompulze, mluvíme o perinatálním OCD. Vtíravé myšlenky se často točí kolem dítěte, ale nemusí tomu tak být vždy.</p>
      <p>Těhotenství i následná péče o dítě může přinášet nové stresové podněty do vašeho života. Je v pořádku mít určité obavy o dítě a starosti, aby se mu dobře dařilo. Také je normální dítě chránit a nevystavovat ho rizikům, případně tyto rizika minimalizovat – např. občas kontrolovat jak spí, upravit jídelníček v těhotenství nebo sterilizovat dudlíky.</p>
      <p>Pokud vás však většinu dne otravují vtíravé myšlenky, že se něco může dítěti stát, nebo strávíte většinu dne nefunkčními kontrolami nebo nadměrným úklidem či dezinfekcí, může se u vás jednat o perinatální OCD.</p>
      <p>Příklady:</p>
      <ul>
        <li>Můžete mít vtíravé myšlenky, že vašemu dítěti ublíží bakterie nebo infekce, a pak strávíte spoustu času sterilizováním a dezinfikováním vašeho bytu a věcí, i těch, které jste už opakovaně uklízela</li>
        <li>Můžete mít vtíravé myšlenky, že dítěti nějak omylem ublížíte, a pak strávíte většinu času kontrolou dítěte nebo se vyhýbáte času, kdy jste s ním sama.</li>
      </ul>
      <p>Pokud se vám vracejí myšlenky, že dítěti nějak ublížíte, tak nebojte, víme, že ženy s perinatálním OCD dětem neublíží, jedná se o znepokojující vtíravou myšlenku.</p>
      <h3>Jak je perinatální OCD časté?</h3>
      <p>Během těhotenství se OCD objeví zhruba u jedné ze sta žen, což odpovídá i jiným obdobím života ženy. Po porodu se může vyvinout častěji, přibližně u 2-3 žen ze sta.</p>
      <h3>Co způsobuje OCD?</h3>
      <p>Přesné důvody vzniku OCD nejsou jasné, ale perinatální OCD se u vás může častěji vyvinout, pokud:</p>
      <ul>
        <li>Někdo ve vaší rodině má OCD</li>
        <li>S obsesemi a kompulzemi jste se setkala již před těhotenstvím</li>
        <li>Zažíváte hodně stresu</li>
        <li>Jste velmi organizovaná až perfekcionistická</li>
      </ul>
      <h3>Léčba OCD</h3>
      <p>Léčba OCD se zpravidla skládá z kombinace technik, které můžete provádět sama, psychoterapie a případně farmakologické léčby. Přístup ke klientovi je vždy zcela individuální. Co vyhovuje a pomůže jedné ženě, nemusí vyhovovat a pomoct druhé. Nebojte se daného odborníka na cokoliv ptát a vyslovit jakékoliv své obavy či znepokojení. Pro jaký typ léčby OCD se rozhodnete, bude vždy vaše rozhodnutí. Odborník vám postup může doporučit, vysvětlí jeho principy, výhody a případná rizika a zodpoví všechny vaše otázky.</p>
      <p>U užívání psychofarmak v těhotenství si můžete přečíst <a href="{{ path('app_default_pageAction_forWomen_pregnancy', {'slug':'leky-v-tehotenstvi'}) }}">zde</a></p>
      <p>U užívání psychofarmak při kojení si můžete přečíst více <a href="{{ path('app_default_pageAction_forWomen_postpartum', {'slug':'leky-v-kojeni'}) }}">zde</a>.</p>
      <h3>Jak můžete s OCD už nyní bojovat?</h3>
      <ul>
        <li>Promluvte si s někým, komu důvěřujete, o svých pocitech, např. s partnerem, rodinným příslušníkem, blízkým kamarádem</li>
        <li>Identifikujte, jaké situace vám působí největší stres, a zkuste je co nejvíc minimalizovat. I když to ne vždy lze a někdy je to velmi těžké</li>
        <li>Zařaďte do každého dne pravidelný pohyb o mírné zátěži, např. procházky nebo plavání, a pobyt na čerstvém vzduchu</li>
        <li>Vyzkoušejte jógu, techniky mindfulness, meditaci a relaxační cvičení</li>
        <li>Jezte pravidelně a zdravě</li>
        <li>Vyhněte se alkoholu, cigaretám. Mohou špatné pocity ještě zhoršit a ublížit vašemu děťátku</li>
        <li>Co nejvíc omezte množství kofeinu. Můžete po něm být ještě úzkostnější a také může působit na miminko skrze mateřské mléko</li>
        <li>Další informace, jak o sebe pečovat, naleznete na webu <a href="https://www.opatruj.se/" target="_blank">Opatruj.se</a></li>
        <li>Zkuste pracovat s naší aplikací <a href="https://www.kogito.cz/" target="_blank">Kogito</a></li>
      </ul>
    </div>
  </div>
</section>
