<section class="main-article">
  <div class="container">
    <div class="main-article--wrapper">
      <div class="main-article--grid">
        <div class="main-article--content">
          <h2 class="h3">Co zde nalezneme?</h2>
          <p>Těhotenství bývá často vyplněno radostí a pěknými pocity a pozitivním očekáváním. Avšak není to pravidlem, a ne vždy je těhotenství tak růžové, jak ho vybarvují média nebo sociální sítě. V těhotenství může naše psychika čelit různým výzvám. Může se stát, že zažijete nebo zažíváte i psychické obtíže. Připravili jsme pro vás přehled témat spojených s psychikou v těhotenství, protože poznat svého nepřítele je prvním účinným krokem k tomu, abyste ho mohla porazit.</p>
          <h2 class="h3">Pro koho je obsah určen?</h2>
          <p>Pro každou ženu, kterou zajímá psychika v těhotenství. Obsah je určen pro ty, které se chtějí dozvědět o příznacích a možnostech léčby například deprese, panické poruchy a dalších psychických obtíží v těhotenství. Jedním z našich cílů je totiž i šíření informací o problematice perinatálního duševního zdraví.</p>
          <h2 class="h3">Jak vám můžeme pomoci?</h2>
          <p>První pomocí je dostupnost validních informací o perinatálním duševním zdraví. Dále si také v sekci Otestuj se můžete vyplnit orientační screeningové dotazníky se zpětnou vazbou. U každého tématu také naleznete návod, co dělat, pokud vás daný problém trápí. Obsah webových stránek však nenahrazuje odbornou psychologickou nebo psychiatrickou péči.</p>
        </div>
        <div class="main-article--aside">
          <h2 class="h3">Připravená témata</h2>
          <div class="main-article--box">
            <a href="{{ path('app_default_pageAction_forWomen_pregnancy', {'slug':'smisene-pocity-v-tehotenstvi'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Smíšené pocity v těhotenství</span>
              <span class="main-article--box--text">Délka: 10min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
            <a href="{{ path('app_default_pageAction_forWomen_pregnancy', {'slug':'uzkosti-a-panické-poruchy'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Úzkosti a panické poruchy</span>
              <span class="main-article--box--text">Délka: 18min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
            <a href="{{ path('app_default_pageAction_forWomen_pregnancy', {'slug':'strach-z-porodu'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Strach z porodu (tokofobia)</span>
              <span class="main-article--box--text">Délka: 13min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
            <a href="{{ path('app_default_pageAction_forWomen_pregnancy', {'slug':'deprese-v-tehotenstvi'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Deprese v těhotenství</span>
              <span class="main-article--box--text">Délka: 15min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
            <a href="{{ path('app_default_pageAction_forWomen_pregnancy', {'slug':'dalsi-dusevni-potize-v-tehotenstvi'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Další duševní potíže v těhotenství</span>
              <span class="main-article--box--text">Délka: 16min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
            <a href="{{ path('app_default_pageAction_forWomen_pregnancy', {'slug':'leky-v-tehotenstvi'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Léky v těhotenství</span>
              <span class="main-article--box--text">Délka: 8min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
            <a href="{{ path('app_default_pageAction_forWomen_pregnancy', {'slug':'jak-vyhledat-pomoc'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Jak vyhledat pomoc</span>
              <span class="main-article--box--text">Délka: 6min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
