<section class="main-article">
  <div class="container">
    <div class="main-article--wrapper">
      <div class="main-article--grid">
        <div class="main-article--content">
          <h2 class="h3">Co zde nalezneme?</h2>
          <p>Období po porodu je často vyplněno radostí a pěknými pocity. Avšak není to pravidlem, a ne vždy vypadá doba po porodu tak růžově, jak ji vybarvují média nebo sociální sítě.  V&nbsp;období po porodu může naše psychika čelit různým výzvám. Může se stát, že zažijete nebo zažíváte i psychické obtíže. Protože poznat svého nepřítele je prvním účinným krokem k&nbsp;tomu, abyste ho mohla porazit, připravili jsme pro vás základní přehled témat spojených s&nbsp;psychikou po porodu.</p>
          <h2 class="h3">Pro koho je obsah určen?</h2>
          <p>Pro každou ženu, kterou zajímá psychika po porodu. Obsah je určen pro ty, které se chtějí dozvědět o příznacích a možnostech léčby například poporodní deprese či úzkostí nebo možnostech zotavení z&nbsp;těžkého porodu. Jedním z&nbsp;našich cílů je totiž i šíření informací o problematice perinatálního duševního zdraví.</p>
          <h2 class="h3">Jak Vám můžeme pomoci?</h2>
          <p>První pomocí je dostupnost validních informací o perinatálním duševním zdraví. Dále si také v&nbsp;sekci Otestuj se můžete vyplnit orientační screeningové dotazníky se zpětnou vazbou. U každého tématu také naleznete návod co dělat, pokud vás daný problém trápí. Obsah webových stránek však nenahrazuje odbornou psychologickou nebo psychiatrickou péči.</p>
        </div>
        <div class="main-article--aside">
          <h2 class="h3">Připravená témata</h2>
          <div class="main-article--box">
            <a href="{{ path('app_default_pageAction_forWomen_postpartum', {'slug':'smisene-pocity-po-porodu'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Smíšené pocity po porodu</span>
              <span class="main-article--box--text">Délka: 10min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
            <a href="{{ path('app_default_pageAction_forWomen_postpartum', {'slug':'spanek-po-porodu'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Spánek po porodu</span>
              <span class="main-article--box--text">Délka: 10min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
            <a href="{{ path('app_default_pageAction_forWomen_postpartum', {'slug':'poporodni-uzkosti'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Poporodní úzkosti</span>
              <span class="main-article--box--text">Délka: 25min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
            <a href="{{ path('app_default_pageAction_forWomen_postpartum', {'slug':'poporodni-deprese'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Poporodní deprese</span>
              <span class="main-article--box--text">Délka: 20min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
            <a href="{{ path('app_default_pageAction_forWomen_postpartum', {'slug':'poporodni-psychoza'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Poporodní psychóza</span>
              <span class="main-article--box--text">Délka: 20min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
            <a href="{{ path('app_default_pageAction_forWomen_postpartum', {'slug':'zotaveni-z-tezkeho-porodu'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Zotavení z těžkého porodu</span>
              <span class="main-article--box--text">Délka: 25min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
            <a href="{{ path('app_default_pageAction_forWomen_postpartum', {'slug':'leky-v-kojeni'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Léky a kojení</span>
              <span class="main-article--box--text">Délka: 10min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
            <a href="{{ path('app_default_pageAction_forWomen_postpartum', {'slug':'moje-dite'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Moje dítě</span>
              <span class="main-article--box--text">Délka: 15min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
            <a href="{{ path('app_default_pageAction_forWomen_postpartum', {'slug':'jak-vyhledat-pomoc'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Jak vyhledat pomoc</span>
              <span class="main-article--box--text">Délka: 6min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
