{% trans_default_domain 'homepage' %}
<section class="reviews">
  <div class="container">
    <div class="reviews--wrapper">
      <h2 data-aos="fade-up" class="reviews--headline">
{#        <small data-aos="fade-down" data-aos-delay="300">Napsali o nás</small>#}
        {% trans %}reviews.title{% endtrans%}
      </h2>
      <div class="reviews--slider--wrapper">
        <div class="reviews--slider reviews--slider--3">
          <a href="https://refresher.cz/106699-Riziko-poporodni-deprese-vznika-az-u-ctvrtiny-zen-v-Cesku-Popisujeme-proc-k-nim-dochazi-a-kam-se-obratit?ref=3b1a3934d40c0f" class="reviews--slider--item">
            <div class="reviews--slider--logo">
              <img src="{{ asset('build/img/logo-refresher.svg') }}" width="200" alt="">
            </div>
            <div class="reviews--box">
              <p>Riziko poporodní deprese vzniká až u čtvrtiny žen v Česku. Popisujeme, proč k nim dochází a kam se obrátit</p>
            </div>
          </a>
          <a href="https://pozitivni-zpravy.cz/materstvi-v-klidu-a-ve-zdravi-cesky-projekt-poskytuje-psychologickou-pomoc-nastavajicim-matkam/" class="reviews--slider--item">
            <div class="reviews--slider--logo">
              <img src="{{ asset('build/img/logo-pozitivni-zpravy.png') }}" width="270" alt="">
            </div>
            <div class="reviews--box">
              <p>Mateřství v klidu a ve zdraví. Český projekt poskytuje psychologickou pomoc nastávajícím matkám</p>
            </div>
          </a>
          <a href="https://wave.rozhlas.cz/malokdo-da-ciste-a-pak-prichazi-vycitky-dite-je-obrovska-zmena-dovolte-si-8596507" class="reviews--slider--item">
            <div class="reviews--slider--logo">
              <img src="{{ asset('build/img/logo-radio-wave.svg') }}" width="220" alt="">
            </div>
            <div class="reviews--box">
              <p>Málokdo to dá čistě a pak přichází výčitky. Dítě je obrovská změna, dovolte si to nezvládat</p>
            </div>
          </a>
          <a href="https://www.radiozet.cz/podcast/jedna-maminka-z-peti-se-potyka-s-psychickymi-problemy-rika-lucie-kocova-ze-spolku-usmev-mamy?fbclid=IwAR3eB4gAmSwCjdydwqjMR_0OMY3lLFyCpiiFYfK0sE76kum6YrxqqOJFmI8" class="reviews--slider--item">
            <div class="reviews--slider--logo">
              <img src="{{ asset('build/img/logo-radio-zet.svg') }}" alt="">
            </div>
            <div class="reviews--box">
              <p>Jedna maminka z pěti se potýká s psychickými problémy, říká Lucie Kočová ze spolku Úsměv mámy</p>
            </div>
          </a>
          <a href="https://zena.aktualne.cz/tehotnym-a-zenam-po-porodu-pomuze-s-resenim-psychickych-poti/r~3999413e42d711ecb91a0cc47ab5f122/" class="reviews--slider--item">
            <div class="reviews--slider--logo">
              <img src="{{ asset('build/img/logo-a-zena.svg') }}" alt="">
            </div>
            <div class="reviews--box">
              <p>Co s psychickými potížemi? Těhotným a ženám po porodu má pomoci nový český web</p>
            </div>
          </a>
          <a href="https://denikn.cz/minuta/745802/" class="reviews--slider--item">
            <div class="reviews--slider--logo">
              <img src="{{ asset('build/img/logo-denik-n.svg') }}" alt="">
            </div>
            <div class="reviews--box">
              <p>Těhotným a ženám po porodu pomůže s řešením psychických potíží nový web</p>
            </div>
          </a>
          <a href="https://www.ozdravotnictvi.cz/zpravodajstvi/tehotnym-a-zenam-po-porodu-pomuze-s-resenim-psychickych-potizi-novy-web/" class="reviews--slider--item">
            <div class="reviews--slider--logo">
              <img src="{{ asset('build/img/logo-ozdravotnictvi.png') }}" alt="">
            </div>
            <div class="reviews--box">
                <p>Těhotným a ženám po porodu pomůže s řešením psychických potíží nový web</p>
            </div>
          </a>
          <a href="https://www.vitalia.cz/clanky/nejste-spatne-matky-nova-pomoc-pro-zeny-ktere-v-tehotenstvi-nebo-po-porodu-zazivaji-psychicke-potize/" class="reviews--slider--item">
            <div class="reviews--slider--logo">
              <img src="{{ asset('build/img/logo-support-6.png') }}" alt="">
            </div>
            <div class="reviews--box">
              <p>Nejste špatné matky: nová pomoc pro ženy, které v těhotenství nebo po porodu zažívají psychické potíže</p>
            </div>
          </a>
          <a href="https://www.mednews.cz/tehotnym-a-zenam-po-porodu-pomuze-s-resenim-psychickych-potizi-novy-web/" class="reviews--slider--item">
            <div class="reviews--slider--logo">
              <img src="{{ asset('build/img/logo-mednews.jpg') }}" alt="">
            </div>
            <div class="reviews--box">
              <p>Těhotným a ženám po porodu pomůže s řešením psychických potíží nový web</p>
            </div>
          </a>
          <a href="https://tv.idnes.cz/rozstrel/rozstrel-antonin-sebela-a-veronika-kubrichtova-cely-zaznam.V210810_122658_idnestv_krr" class="reviews--slider--item">
            <div class="reviews--slider--logo">
              <img src="{{ asset('build/img/logo-idnes-tv.svg') }}" alt="">
            </div>
            <div class="reviews--box">
              {#              <h3 class="reviews--box--headline">Paní Jana říká:</h3>#}
              <p>Po porodu jsem trpěla depresemi, řekla v Rozstřelu žena, která dnes pomáhá ostatním matkám</p>
            </div>
          </a>
          <a href="https://www.ceskatelevize.cz/porady/1148499747-sama-doma/220562220600115/video/793200" class="reviews--slider--item">
            <div class="reviews--slider--logo">
              <img src="{{ asset('build/img/logo-ceska-televize.svg') }}" alt="">
            </div>
            <div class="reviews--box">
              <p>Úsměv mámy - Veronika Kubrichtová a MUDr. Antonín Šebela</p>
            </div>
          </a>
          <a href="https://www.ceskatelevize.cz/porady/1148499747-sama-doma/220562220600139/" class="reviews--slider--item">
            <div class="reviews--slider--logo">
              <img src="{{ asset('build/img/logo-ceska-televize.svg') }}" alt="">
            </div>
            <div class="reviews--box">
              <p>Pomoc ženám v krizi mateřství</p>
            </div>
          </a>
          <a href="https://www.ceskatelevize.cz/porady/1096902795-studio-6/221411010100413/video/833050" class="reviews--slider--item">
            <div class="reviews--slider--logo">
              <img src="{{ asset('build/img/logo-ceska-televize.svg') }}" alt="">
            </div>
            <div class="reviews--box">
              <p>Duševní zdraví těhotných žen <br>Antonín Šebela</p>
            </div>
          </a>
          <a href="https://www.ceskatelevize.cz/ivysilani/10101491767-studio-ct24/219411058060417" class="reviews--slider--item">
            <div class="reviews--slider--logo">
              <img src="{{ asset('build/img/logo-ceska-televize.svg') }}" alt="">
            </div>
            <div class="reviews--box">
              <p>Psychické poruchy v těhotenství</p>
            </div>
          </a>
          <a href="https://www.ceskatelevize.cz/ivysilani/11633975240-veda-24/219411058340016" class="reviews--slider--item">
            <div class="reviews--slider--logo">
              <img src="{{ asset('build/img/logo-ceska-televize.svg') }}" alt="">
            </div>
            <div class="reviews--box">
              <p>Nová metoda odhalování zdravotních komplikací u žen po porodu</p>
            </div>
          </a>
          <a href="https://www.mujrozhlas.cz/dnesni-plus/reknou-si-ze-jsem-blazen-vetsina-tehotnych-zen-po-porodu-s-uzkostmi-depresemi-nevyhleda" class="reviews--slider--item">
            <div class="reviews--slider--logo">
              <img src="{{ asset('build/img/logo-mujrozhlas.svg') }}" alt="můjRozhlas">
            </div>
            <div class="reviews--box">
              <p>„Řeknou si, že jsem blázen.“ Většina těhotných a žen po porodu s úzkostmi a depresemi nevyhledá pomoc kvůli předsudkům</p>
            </div>
          </a>
          <a href="https://plus.rozhlas.cz/pandemie-zhorsuje-uz-tak-slozitou-situaci-matek-predchazet-psychickym-potizim-ma-8469591" class="reviews--slider--item">
            <div class="reviews--slider--logo">
              <img src="{{ asset('build/img/logo-plus.svg') }}" alt="Plus">
            </div>
            <div class="reviews--box">
              <p>Pandemie zhoršuje už tak složitou situaci matek. Předcházet psychickým potížím má speciální screening</p>
            </div>
          </a>
          <a href="https://produsevnizdravi.cz/prevence-dusevnich-onemocneni/299-vybrani-gynekologove-se-zameri-na-psychickou-kondici-zen-brzy-po-porodu" class="reviews--slider--item">
            <div class="reviews--slider--logo">
              <img src="{{ asset('build/img/logo-pro-dusevni-zdravi.png') }}" alt="pro Duševní Zdraví">
            </div>
            <div class="reviews--box">
              <p>Vybraní gynekologové se zaměří na psychickou kondici žen brzy po porodu</p>
            </div>
          </a>
          <a href="https://www.tyden.cz/rubriky/domaci/novy-program-ma-pomoci-chranit-dusevni-zdravi-matek-i-jejich-deti_551249.html" class="reviews--slider--item">
            <div class="reviews--slider--logo">
              <img src="{{ asset('build/img/logo-tyden-cz.png') }}" alt="TÝDEN.cz">
            </div>
            <div class="reviews--box">
              <p>Úsměv mámy: Nový program má pomoci chránit duševní zdraví matek i jejich dětí</p>
            </div>
          </a>
          <a href="https://www.tyden.cz/rubriky/zdravi/poporodni-blues_520713.html" class="reviews--slider--item">
            <div class="reviews--slider--logo">
              <img src="{{ asset('build/img/logo-tyden-cz.png') }}" alt="TÝDEN.cz">
            </div>
            <div class="reviews--box">
              <p>Zdraví: Poporodní blues</p>
            </div>
          </a>
          <a href="https://zena.aktualne.cz/zdravi/novy-program-ma-pomoci-chranit-dusevni-zdravi-matek-i-jejich/r~ec813e109c2811eba22aac1f6b220ee8/" class="reviews--slider--item">
            <div class="reviews--slider--logo">
              <img src="{{ asset('build/img/logo-a-zena.svg') }}" alt="A Žena">
            </div>
            <div class="reviews--box">
              <p>Těhotné: Jejich duševní zdraví dosud nikdo neřešil. Nově vznikne preventivní program</p>
            </div>
          </a>
          <a href="https://cnn.iprima.cz/kdyz-se-po-porodu-dostavi-uzkost-a-obavy-adela-nezvladala-peci-o-deti-kvuli-depresim-22471" class="reviews--slider--item">
            <div class="reviews--slider--logo">
              <img src="{{ asset('build/img/logo-cnn-prima-news.svg') }}" alt="CNN Prima NEWS">
            </div>
            <div class="reviews--box">
              <p>Když se po porodu dostaví úzkost a obavy.  Adéla nezvládala péči o děti kvůli depresím</p>
            </div>
          </a>
          <a href="https://www.nudz.cz/files/pdf/poporodni-tyden.pdf" class="reviews--slider--item">
            <div class="reviews--slider--logo">
              <img src="{{ asset('build/img/logo-tyden-cz.png') }}" alt="">
            </div>
            <div class="reviews--box">
              <p>Poporodní blues: Nadšení z dítěte se u některých žen může proměnit v úzkost a deprese. Mnohdy jsou příčinou „rozhozené“ hormony.</p>
            </div>
          </a>
          <a href="https://www.nudz.cz/files/pdf/poporodni-mf-dnes.pdf" class="reviews--slider--item">
            <div class="reviews--slider--logo">
              <img src="{{ asset('build/img/logo-mlada-fronta-dnes.jpg') }}" alt="">
            </div>
            <div class="reviews--box">
              <p>Poporodní splín je běžný. Mohou za něj hormony</p>
            </div>
          </a>
          <a href="https://www.vitalia.cz/clanky/poporodni-deprese-jak-ji-rozeznat-od-spatne-nalady/" class="reviews--slider--item">
            <div class="reviews--slider--logo">
              <img src="{{ asset('build/img/logo-support-6.png') }}" alt="Vitalia.cz">
            </div>
            <div class="reviews--box">
              <p>Poporodní deprese: jak ji rozeznat od špatné nálady?</p>
            </div>
          </a>
          <a href="https://zdravi.euro.cz/projekt-ma-zlepsit-peci-o-dusevni-zdravi-tehotnych-zen/" class="reviews--slider--item">
            <div class="reviews--slider--logo">
              <img src="{{ asset('build/img/logo-zdravi-euro-cz.png') }}" alt="Zdravi euro cz">
            </div>
            <div class="reviews--box">
              <p>Projekt má zlepšit péči o duševní zdraví těhotných žen</p>
            </div>
          </a>
          <a href="https://www.frekvence1.cz/clanky/zpravy/dusevni-zdravi-tehotnych-zen-je-v-cesku-podcenovane-varuji-odbornici-pomoci-ma-novy-projekt.shtml" class="reviews--slider--item">
            <div class="reviews--slider--logo">
              <img src="{{ asset('build/img/logo-frekvence-1.svg') }}" alt="Frekvence 1">
            </div>
            <div class="reviews--box">
              <p>Duševní zdraví těhotných žen je v Česku podceňované, varují odborníci. Pomoci má nový projekt</p>
            </div>
          </a>
          <a href="https://www.ozdravotnictvi.cz/zpravodajstvi/projekt-ma-zlepsit-peci-o-dusevni-zdravi-tehotnych-zen/" class="reviews--slider--item">
            <div class="reviews--slider--logo">
              <img src="{{ asset('build/img/logo-ozdravotnictvi.png') }}" alt="O zdravotnictví">
            </div>
            <div class="reviews--box">
              <p>Zlepšit péči o duševní zdraví těhotných žen v České republice má nový projekt vědců z Národního ústavu duševního zdraví (NUDZ)</p>
            </div>
          </a>
          <a href="https://www.denik.cz/zdravi/misto-radosti-dno-petina-ceskych-maminek-ma-splin-pomuze-jim-vysetreni-20190420.html" class="reviews--slider--item">
            <div class="reviews--slider--logo">
              <img src="{{ asset('build/img/logo-denik.svg') }}" alt="Deník">
            </div>
            <div class="reviews--box">
              <p>Místo radosti dno. Pětina českých maminek má splín, pomůže jim vyšetření</p>
            </div>
          </a>
          <a href="https://www.parlamentnilisty.cz/zpravy/tiskovezpravy/NUDZ-Systematicka-pece-o-dusevni-zdravi-nastavajicich-maminek-v-Cesku-zaostava-578649" class="reviews--slider--item">
            <div class="reviews--slider--logo">
              <img src="{{ asset('build/img/logo-parlamentnilisty.png') }}" style="background:#a30;padding: 8px;" alt="Parlamentní listy">
            </div>
            <div class="reviews--box">
              <p>NÚDZ: Systematická péče o duševní zdraví nastávajících maminek v Česku zaostává</p>
            </div>
          </a>
          <a href="https://www.startupjobs.cz/newsroom/psychicke-problemy-zen-v-tehotenstvi-a-po-porodu-jsou-stale-tabu-cestu-z-deprese-nebo-uzkosti-pomuze-najit-aplikace" class="reviews--slider--item">
            <div class="reviews--slider--logo">
              <img src="{{ asset('build/img/logo-startup-jobs.svg') }}" alt="Startup jobs">
            </div>
            <div class="reviews--box">
              <p>Psychické problémy žen v těhotenství a po porodu jsou stále tabu. Cestu z deprese nebo úzkosti pomůže najít aplikace</p>
            </div>
          </a>
        </div>

        <button class="slick-prev slick-arrow" aria-label="Previous" type="button">
          <span class="icon icon--icon-chevron-simple-circle-left-stroked-color">
            <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-left-stroked-color"></use></svg>
          </span>
        </button>
        <button class="slick-next slick-arrow" aria-label="Next" type="button">
          <span class="icon icon--icon-chevron-simple-circle-right-stroked-color">
            <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked-color"></use></svg>
          </span>
        </button>
      </div>
      <div data-aos="fade-up">
        <a href="{{ path('app_default_pageAction', {'slug':'o-nas'}) }}" class="button button--primary">{% trans %}reviews.button{% endtrans%}</a>
      </div>
    </div>
  </div>
</section>
