<section class="blog-detail">
  <div class="container">
    <div class="blog-detail--wrapper">
      <p>Samotné poporodní období přináší oproti jinému období v životě 2,9× vyšší riziko relapsu afektivní epizody <a href="#literatura3">(3)</a>. I&nbsp;v&nbsp;případě, že je žena v&nbsp;těhotenství stabilizovaná a&nbsp;neužívá již udržovací medikaci, je riziko relapsu 66&nbsp;%.</p>
      <p>Pokud se u ženy vyskytl anamnesticky relaps po předchozím porodu, riziko je až 87 % <a href="#literatura4">(4, 5)</a>. Ženy s&nbsp;BAP mají v&nbsp;porovnání s&nbsp;obecnou populací až stonásobně vyšší riziko vzniku <a href="{{ path('app_default_pageAction_forWomen_postpartum', {'slug':'poporodni-psychoza'}) }}">poporodní psychózy</a> <a href="#literatura6">(6)</a>. </p>
      <p>Optimální péče o&nbsp;ženu s BAP, která plánuje graviditu, zahrnuje prekoncepční fázi (výběr <a href="{{ path('app_default_pageAction_forProfessionals_pregnancy', {'slug':'antipsychotika-a-tehotenstvi'}) }}">bezpečného stabilizátoru nálady</a> – antikonvulzivum a/nebo <a href="{{ path('app_default_pageAction_forProfessionals_pregnancy', {'slug':'antipsychotika-a-tehotenstvi'}) }}">antipsychotikum 2. generace</a>, udržovací fází v době před a v průběhu gravidity (dosažení euthymie nejmenší účinnou dávkou zvoleného léku)
        a&nbsp;fázi bezprostředně před porodem a po porodu (prevence rozvoje poporodní psychózy). V případě relapsu onemocnění je často nutná kombinace více léků, kterou je vhodné nasadit během hospitalizace.  U&nbsp;závažných stavů je indikovaná elektrokonvulzivní terapie, kterou lze relativně bezpečně aplikovat i&nbsp;v&nbsp;těhotenství <a href="#literatura7">(7)</a>.
      </p>
      <p>Informace o stabilizátorech nálady v&nbsp;laktaci najdete <a href="{{ path('app_default_pageAction_forProfessionals_postpartum', {'slug':'stabilizatory-nalady-a-kojeni'}) }}">zde</a>. </p>
      <p>Informace o antipsychoticích v&nbsp;laktaci najdete <a href="{{ path('app_default_pageAction_forProfessionals_postpartum', {'slug':'antipsychotika-a-kojeni'}) }}">zde</a> . </p>
      <p>
        <small> <strong>Upozornění:</strong> Informace zde prezentované nejsou míněny jako náhrada za odborný úsudek
          ošetřujícího lékaře / lékařky. Doporučení ohledně těhotenství a kojení týkající se vaší konkrétní situace
          byste
          měli konzultovat se svým poskytovatelem zdravotní péče. Nezaručujeme ani nepřebíráme žádnou zodpovědnost nebo
          odpovědnost za přesnost nebo úplnost informací na této stránce. </small>
      </p>
      <h3>Literatura: </h3>
      <ol>
        <li id="literatura1">
          Viguera AC, Whitfield T, Baldessarini RJ, Newport DJ, Stowe Z, Reminick A,&nbsp;et&nbsp;al. Risk of recurrence in women with bipolar disorder during pregnancy: prospective study of mood stabilizer discontinuation. Am J Psychiatry. 2007; 164: 1817–1824.
        </li>
        <li id="literatura2">
          Viguera AC, Nonacs R, Cohen LS, Tondo L, Murray A, Bal‑dessarini RJ. Risk of recurrence of bipolar disorder in preg‑nant and nonpregnant women after discontinuing lithium maintenance. Am J Psychiatry. 2000; 157: 179–184
        </li>
        <li id="literatura3">
           Wesseloo  R,  Kamperman  AM,  Munk  ‑Olsen  T,  Pop  VJM,  Kushner SA, Bergink&nbsp;V. Risk of postpartum relapse in bipolar disorder and postpartum psychosis: a&nbsp;systematic review and meta ‑analysis. Am J Psychiatry. 2016; 173: 117–127.
        </li>
        <li id="literatura4">
          Maina G, Rosso G, Aguglia A, Bogetto F. Recurrence rates of  bipolar  disorder  during  the  postpartum  period:  a&nbsp; study  on 276 medication ‑free Italian women. Arch Womens Ment Health. 2014; 17: 367–372
        </li>
        <li id="literatura5">
          Rohde A, Marneros A. Bipolar disorders during pregnancy, post partum and in menopause. In: Bipolar disord. Dordrecht: Kluwer Academic Publishers; 2000. p.&nbsp;127–137.
        </li>
        <li id="literatura6">
          Munk ‑Olsen T, Laursen TM, Meltzer ‑Brody S, Mortensen PB,  Jones&nbsp; I.  Psychiatric  Disorders  With  Postpartum  Onset:  Possible Early Manifestations of Bipolar Affective Disorders. Arch Gen Psychiatry. 2012; 69(4): 428–434.
        </li>
        <li id="literatura7">
          Kitzlerová  E,  Kališová&nbsp; L.  Elektrokonvulzivní  terapie  v&nbsp; těhotenství (část 1): bezpečnost a&nbsp;účinnost. Čes a&nbsp;slov Psychiatr 2018; 114(2): 60–63.
        </li>
      </ol>
    </div>
  </div>
</section>
