{% set locale = app.request.locale %}
<section class="media" id="media">
  <div class="container">
    <div class="media--wrapper">
      <div class="media--grid">
        <div class="media--aside">
          <span class="icon icon--icon-messages-play-color">
            <svg class="icon__svg"><use xlink:href="#icon-messages-play-color"></use></svg>
          </span>
          <h2>Média</h2>
        </div>
        <div class="media--content">
{#          Refresher#}
          <div class="media--row">
            <div>
              <img src="{{ asset('build/img/logo-refresher.svg') }}" width="200" alt="Refresher">
            </div>
            <div class="media--row--content">
              <div>
                <p>Riziko poporodní deprese vzniká až u čtvrtiny žen v Česku. Popisujeme, proč k nim dochází a kam se obrátit</p>
                <a href="https://refresher.cz/106699-Riziko-poporodni-deprese-vznika-az-u-ctvrtiny-zen-v-Cesku-Popisujeme-proc-k-nim-dochazi-a-kam-se-obratit?ref=3b1a3934d40c0f" target="_blank" class="button button--arrow">
                  <span>Přečíst článek</span>
                  <span class="icon icon--icon-arrows-simple-right-stroked">
                  <svg class="icon__svg"><use xlink:href="#icon-arrows-simple-right-stroked"></use></svg>
                </span>
                </a>
              </div>
            </div>
          </div>
{#          Pozitivní zprávy#}
          <div class="media--row">
            <div>
              <img src="{{ asset('build/img/logo-pozitivni-zpravy.png') }}" width="270" alt="Pozitivní zprávy">
            </div>
            <div class="media--row--content">
              <div>
                <p>Mateřství v klidu a ve zdraví. Český projekt poskytuje psychologickou pomoc nastávajícím matkám</p>
                <a href="https://pozitivni-zpravy.cz/materstvi-v-klidu-a-ve-zdravi-cesky-projekt-poskytuje-psychologickou-pomoc-nastavajicim-matkam/" target="_blank" class="button button--arrow">
                  <span>Přečíst článek</span>
                  <span class="icon icon--icon-arrows-simple-right-stroked">
                  <svg class="icon__svg"><use xlink:href="#icon-arrows-simple-right-stroked"></use></svg>
                </span>
                </a>
              </div>
            </div>
          </div>
{#          Radio Wave#}
          <div class="media--row">
            <div>
              <img src="{{ asset('build/img/logo-radio-wave.svg') }}" width="220" alt="Radio Wave">
            </div>
            <div class="media--row--content">
              <div>
                <p>Málokdo to dá čistě a pak přichází výčitky. Dítě je obrovská změna, dovolte si to nezvládat</p>
                <a href="https://wave.rozhlas.cz/malokdo-da-ciste-a-pak-prichazi-vycitky-dite-je-obrovska-zmena-dovolte-si-8596507" target="_blank" class="button button--arrow">
                  <span>Přečíst článek</span>
                  <span class="icon icon--icon-arrows-simple-right-stroked">
                  <svg class="icon__svg"><use xlink:href="#icon-arrows-simple-right-stroked"></use></svg>
                </span>
                </a>
              </div>
            </div>
          </div>
{#          RadioZet#}
          <div class="media--row">
            <div>
              <img src="{{ asset('build/img/logo-radio-zet.svg') }}" alt="Radio Zet">
            </div>
            <div class="media--row--content">
              <div>
                <p>Jedna maminka z pěti se potýká s psychickými problémy, říká Lucie Kočová ze spolku Úsměv mámy</p>
                <a href="https://www.radiozet.cz/podcast/jedna-maminka-z-peti-se-potyka-s-psychickymi-problemy-rika-lucie-kocova-ze-spolku-usmev-mamy?fbclid=IwAR3eB4gAmSwCjdydwqjMR_0OMY3lLFyCpiiFYfK0sE76kum6YrxqqOJFmI8" target="_blank" class="button button--arrow">
                  <span>Přečíst článek</span>
                  <span class="icon icon--icon-arrows-simple-right-stroked">
                  <svg class="icon__svg"><use xlink:href="#icon-arrows-simple-right-stroked"></use></svg>
                </span>
                </a>
              </div>
            </div>
          </div>
{#          aZena#}
          <div class="media--row">
            <div>
              <img src="{{ asset('build/img/logo-a-zena.svg') }}" alt="A Žena">
            </div>
            <div class="media--row--content">
              <div>
                <p>Co s psychickými potížemi? Těhotným a ženám po porodu má pomoci nový český web</p>
                <a href="https://zena.aktualne.cz/tehotnym-a-zenam-po-porodu-pomuze-s-resenim-psychickych-poti/r~3999413e42d711ecb91a0cc47ab5f122/" target="_blank" class="button button--arrow">
                  <span>Přečíst článek</span>
                  <span class="icon icon--icon-arrows-simple-right-stroked">
                  <svg class="icon__svg"><use xlink:href="#icon-arrows-simple-right-stroked"></use></svg>
                </span>
                </a>
              </div>
              <div>
                <p>Těhotné: Jejich duševní zdraví dosud nikdo neřešil. Nově vznikne preventivní program</p>
                <a href="https://zena.aktualne.cz/zdravi/novy-program-ma-pomoci-chranit-dusevni-zdravi-matek-i-jejich/r~ec813e109c2811eba22aac1f6b220ee8/" target="_blank" class="button button--arrow">
                  <span>Přečíst článek</span>
                  <span class="icon icon--icon-arrows-simple-right-stroked">
                  <svg class="icon__svg"><use xlink:href="#icon-arrows-simple-right-stroked"></use></svg>
                </span>
                </a>
              </div>
            </div>
          </div>
{#          DenikN#}
          <div class="media--row">
            <div>
              <img src="{{ asset('build/img/logo-denik-n.svg') }}" width="220" alt="Deník N">
            </div>
            <div class="media--row--content">
              <div>
                <p>Těhotným a ženám po porodu pomůže s řešením psychických potíží nový web</p>
                <a href="https://denikn.cz/minuta/745802/" target="_blank" class="button button--arrow">
                  <span>Přečíst článek</span>
                  <span class="icon icon--icon-arrows-simple-right-stroked">
                  <svg class="icon__svg"><use xlink:href="#icon-arrows-simple-right-stroked"></use></svg>
                </span>
                </a>
              </div>
            </div>
          </div>
{#          O zdravotnictvi#}
          <div class="media--row">
            <div>
              <img src="{{ asset('build/img/logo-ozdravotnictvi.png') }}" alt="O zdravotnictví">
            </div>
            <div class="media--row--content">
              <div>
                <p>Těhotným a ženám po porodu pomůže s řešením psychických potíží nový web</p>
                <a href="https://www.ozdravotnictvi.cz/zpravodajstvi/tehotnym-a-zenam-po-porodu-pomuze-s-resenim-psychickych-potizi-novy-web/" target="_blank" class="button button--arrow">
                  <span>Přečíst článek</span>
                  <span class="icon icon--icon-arrows-simple-right-stroked">
                  <svg class="icon__svg"><use xlink:href="#icon-arrows-simple-right-stroked"></use></svg>
                </span>
                </a>
              </div>
              <div>
                <p>Zlepšit péči o duševní zdraví těhotných žen v České republice má nový projekt vědců z Národního ústavu duševního zdraví (NUDZ)</p>
                <a href="https://www.ozdravotnictvi.cz/zpravodajstvi/projekt-ma-zlepsit-peci-o-dusevni-zdravi-tehotnych-zen/" target="_blank" class="button button--arrow">
                  <span>Přečíst článek</span>
                  <span class="icon icon--icon-arrows-simple-right-stroked">
                  <svg class="icon__svg"><use xlink:href="#icon-arrows-simple-right-stroked"></use></svg>
                </span>
                </a>
              </div>
            </div>
          </div>
{#          Vitalia#}
          <div class="media--row">
            <div>
              <img src="{{ asset('build/img/logo-support-6.png') }}" alt="Vitalia.cz">
            </div>
            <div class="media--row--content">
              <div>
                <p>Nejste špatné matky: nová pomoc pro ženy, které v těhotenství nebo po porodu zažívají psychické potíže</p>
                <a href="https://www.vitalia.cz/clanky/nejste-spatne-matky-nova-pomoc-pro-zeny-ktere-v-tehotenstvi-nebo-po-porodu-zazivaji-psychicke-potize/" target="_blank" class="button button--arrow">
                  <span>Přečíst článek</span>
                  <span class="icon icon--icon-arrows-simple-right-stroked">
                  <svg class="icon__svg"><use xlink:href="#icon-arrows-simple-right-stroked"></use></svg>
                </span>
                </a>
              </div>
              <div>
                <p>Poporodní deprese: jak ji rozeznat od špatné nálady?</p>
                <a href="https://www.vitalia.cz/clanky/poporodni-deprese-jak-ji-rozeznat-od-spatne-nalady/" target="_blank" class="button button--arrow">
                  <span>Přečíst článek</span>
                  <span class="icon icon--icon-arrows-simple-right-stroked">
                  <svg class="icon__svg"><use xlink:href="#icon-arrows-simple-right-stroked"></use></svg>
                </span>
                </a>
              </div>
            </div>
          </div>
{#          MedNews#}
          <div class="media--row">
            <div>
              <img src="{{ asset('build/img/logo-mednews.jpg') }}" width="220" alt="MedNews.cz">
            </div>
            <div class="media--row--content">
              <div>
                <p>Těhotným a ženám po porodu pomůže s řešením psychických potíží nový web</p>
                <a href="https://www.mednews.cz/tehotnym-a-zenam-po-porodu-pomuze-s-resenim-psychickych-potizi-novy-web/" target="_blank" class="button button--arrow">
                  <span>Přečíst článek</span>
                  <span class="icon icon--icon-arrows-simple-right-stroked">
                  <svg class="icon__svg"><use xlink:href="#icon-arrows-simple-right-stroked"></use></svg>
                </span>
                </a>
              </div>
            </div>
          </div>
{#          iDNES#}
          <div class="media--row">
            <div>
              <img src="{{ asset('build/img/logo-idnes-tv.svg') }}" alt="iDNES.tv">
            </div>
            <div class="media--row--content">
              <div>
                <p>Po porodu jsem trpěla depresemi, řekla v Rozstřelu žena, která dnes pomáhá ostatním matkám</p>
                <a href="https://tv.idnes.cz/rozstrel/rozstrel-antonin-sebela-a-veronika-kubrichtova-cely-zaznam.V210810_122658_idnestv_krr" target="_blank" class="button button--arrow">
                  <span>Přehrát video</span>
                  <span class="icon icon--icon-arrows-simple-right-stroked">
                  <svg class="icon__svg"><use xlink:href="#icon-arrows-simple-right-stroked"></use></svg>
                </span>
                </a>
              </div>
            </div>
          </div>
{#          Česká televize#}
          <div class="media--row">
            <div>
              <img src="{{ asset('build/img/logo-ceska-televize.svg') }}" alt="Česká Televize">
            </div>
            <div class="media--row--content">
              <div>
                <p>Úsměv mámy - Veronika Kubrichtová a MUDr. Antonín Šebela</p>
                <a href="https://www.ceskatelevize.cz/porady/1148499747-sama-doma/220562220600115/video/793200" target="_blank" class="button button--arrow">
                  <span>Přehrát video</span>
                  <span class="icon icon--icon-arrows-simple-right-stroked">
                  <svg class="icon__svg"><use xlink:href="#icon-arrows-simple-right-stroked"></use></svg>
                </span>
                </a>
              </div>
              <div>
                <p>
                  Pomoc ženám v krizi mateřství
                </p>
                <a href="https://www.ceskatelevize.cz/porady/1148499747-sama-doma/220562220600139/" target="_blank" class="button button--arrow">
                  <span>Přehrát video</span>
                  <span class="icon icon--icon-arrows-simple-right-stroked">
                  <svg class="icon__svg"><use xlink:href="#icon-arrows-simple-right-stroked"></use></svg>
                </span>
                </a>
              </div>
              <div>
                <p>
                  Duševní zdraví těhotných žen <br>Antonín Šebela
                </p>
                <a href="https://www.ceskatelevize.cz/porady/1096902795-studio-6/221411010100413/video/833050" target="_blank" class="button button--arrow">
                  <span>Přehrát video</span>
                  <span class="icon icon--icon-arrows-simple-right-stroked">
                  <svg class="icon__svg"><use xlink:href="#icon-arrows-simple-right-stroked"></use></svg>
                </span>
                </a>
              </div>
              <div>
                <p>
                  Psychické poruchy v těhotenství
                </p>
                <a href="https://www.ceskatelevize.cz/ivysilani/10101491767-studio-ct24/219411058060417" target="_blank" class="button button--arrow">
                  <span>Přehrát video</span>
                  <span class="icon icon--icon-arrows-simple-right-stroked">
                  <svg class="icon__svg"><use xlink:href="#icon-arrows-simple-right-stroked"></use></svg>
                </span>
                </a>
              </div>
              <div>
                <p>
                  Nová metoda odhalování zdravotních komplikací u žen po porodu
                </p>
                <a href="https://www.ceskatelevize.cz/ivysilani/11633975240-veda-24/219411058340016" target="_blank" class="button button--arrow">
                  <span>Přehrát video</span>
                  <span class="icon icon--icon-arrows-simple-right-stroked">
                  <svg class="icon__svg"><use xlink:href="#icon-arrows-simple-right-stroked"></use></svg>
                </span>
                </a>
              </div>
            </div>
          </div>
{#          Můj rozhlas#}
          <div class="media--row">
            <div>
              <img src="{{ asset('build/img/logo-mujrozhlas.svg') }}" alt="můjRozhlas">
            </div>
            <div class="media--row--content">
              <div>
                <p>„Řeknou si, že jsem blázen.“ Většina těhotných a žen po porodu s úzkostmi a depresemi nevyhledá pomoc kvůli předsudkům</p>
                <a href="https://www.mujrozhlas.cz/dnesni-plus/reknou-si-ze-jsem-blazen-vetsina-tehotnych-zen-po-porodu-s-uzkostmi-depresemi-nevyhleda" target="_blank" class="button button--arrow">
                  <span>Přehrát audio</span>
                  <span class="icon icon--icon-arrows-simple-right-stroked">
                  <svg class="icon__svg"><use xlink:href="#icon-arrows-simple-right-stroked"></use></svg>
                </span>
                </a>
              </div>
            </div>
          </div>
{#          Plus#}
          <div class="media--row">
            <div>
              <img src="{{ asset('build/img/logo-plus.svg') }}" alt="Plus">
            </div>
            <div class="media--row--content">
              <div>
                <p>Pandemie zhoršuje už tak složitou situaci matek. Předcházet psychickým potížím má speciální screening</p>
                <a href="https://plus.rozhlas.cz/pandemie-zhorsuje-uz-tak-slozitou-situaci-matek-predchazet-psychickym-potizim-ma-8469591" target="_blank" class="button button--arrow">
                  <span>Přečíst článek</span>
                  <span class="icon icon--icon-arrows-simple-right-stroked">
                  <svg class="icon__svg"><use xlink:href="#icon-arrows-simple-right-stroked"></use></svg>
                </span>
                </a>
              </div>
            </div>
          </div>
{#          Pro duševní zdraví#}
          <div class="media--row">
            <div>
              <img src="{{ asset('build/img/logo-pro-dusevni-zdravi.png') }}" alt="pro Duševní Zdraví">
            </div>
            <div class="media--row--content">
              <div>
                <p>Vybraní gynekologové se zaměří na psychickou kondici žen brzy po porodu</p>
                <a href="https://produsevnizdravi.cz/prevence-dusevnich-onemocneni/299-vybrani-gynekologove-se-zameri-na-psychickou-kondici-zen-brzy-po-porodu" target="_blank" class="button button--arrow">
                  <span>Přečíst článek</span>
                  <span class="icon icon--icon-arrows-simple-right-stroked">
                  <svg class="icon__svg"><use xlink:href="#icon-arrows-simple-right-stroked"></use></svg>
                </span>
                </a>
              </div>
            </div>
          </div>
{#          týden.cz#}
          <div class="media--row">
            <div>
              <img src="{{ asset('build/img/logo-tyden-cz.png') }}" alt="TÝDEN.cz">
            </div>
            <div class="media--row--content">
              <div>
                <p>Úsměv mámy: Nový program má pomoci chránit duševní zdraví matek i jejich dětí</p>
                <a href="https://www.tyden.cz/rubriky/domaci/novy-program-ma-pomoci-chranit-dusevni-zdravi-matek-i-jejich-deti_551249.html" target="_blank" class="button button--arrow">
                  <span>Přečíst článek</span>
                  <span class="icon icon--icon-arrows-simple-right-stroked">
                  <svg class="icon__svg"><use xlink:href="#icon-arrows-simple-right-stroked"></use></svg>
                </span>
                </a>
              </div>
              <div>
                <p>Zdraví: Poporodní blues</p>
                <a href="https://www.tyden.cz/rubriky/zdravi/poporodni-blues_520713.html" target="_blank" class="button button--arrow">
                  <span>Přečíst článek</span>
                  <span class="icon icon--icon-arrows-simple-right-stroked">
                  <svg class="icon__svg"><use xlink:href="#icon-arrows-simple-right-stroked"></use></svg>
                </span>
                </a>
              </div>
              <div>
                <p>Poporodní blues: Nadšení z dítěte se u některých žen může proměnit v úzkost a deprese. Mnohdy jsou příčinou „rozhozené“ hormony.</p>
                <a href="https://www.nudz.cz/files/pdf/poporodni-tyden.pdf" target="_blank" class="button button--arrow">
                  <span>Přečíst článek</span>
                  <span class="icon icon--icon-arrows-simple-right-stroked">
                  <svg class="icon__svg"><use xlink:href="#icon-arrows-simple-right-stroked"></use></svg>
                </span>
                </a>
              </div>
            </div>
          </div>
{#          CNN Prima news#}
          <div class="media--row">
            <div>
              <img src="{{ asset('build/img/logo-cnn-prima-news.svg') }}" alt="CNN Prima NEWS">
            </div>
            <div class="media--row--content">
              <div>
                <p>Když se po porodu dostaví úzkost a obavy. Adéla nezvládala péči o děti kvůli depresím</p>
                <a href="https://cnn.iprima.cz/kdyz-se-po-porodu-dostavi-uzkost-a-obavy-adela-nezvladala-peci-o-deti-kvuli-depresim-22471" target="_blank" class="button button--arrow">
                  <span>Přečíst článek</span>
                  <span class="icon icon--icon-arrows-simple-right-stroked">
                  <svg class="icon__svg"><use xlink:href="#icon-arrows-simple-right-stroked"></use></svg>
                </span>
                </a>
              </div>
            </div>
          </div>
{#          Mladá fronzta dnes#}
          <div class="media--row">
            <div>
              <img src="{{ asset('build/img/logo-mlada-fronta-dnes.jpg') }}" alt="Mladá fronta dnes" width="220">
            </div>
            <div class="media--row--content">
              <div>
                <p>Poporodní splín je běžný. Mohou za něj hormony</p>
                <a href="https://www.nudz.cz/files/pdf/poporodni-mf-dnes.pdf" target="_blank" class="button button--arrow">
                  <span>Přečíst článek</span>
                  <span class="icon icon--icon-arrows-simple-right-stroked">
                  <svg class="icon__svg"><use xlink:href="#icon-arrows-simple-right-stroked"></use></svg>
                </span>
                </a>
              </div>
            </div>
          </div>
{#          Zdravi euro#}
          <div class="media--row">
            <div>
              <img src="{{ asset('build/img/logo-zdravi-euro-cz.png') }}" width="220" alt="Zdravi euro cz">
            </div>
            <div class="media--row--content">
              <div>
                <p>Projekt má zlepšit péči o duševní zdraví těhotných žen</p>
                <a href="https://zdravi.euro.cz/projekt-ma-zlepsit-peci-o-dusevni-zdravi-tehotnych-zen/" target="_blank" class="button button--arrow">
                  <span>Přečíst článek</span>
                  <span class="icon icon--icon-arrows-simple-right-stroked">
                  <svg class="icon__svg"><use xlink:href="#icon-arrows-simple-right-stroked"></use></svg>
                </span>
                </a>
              </div>
            </div>
          </div>
{#          Frekvence 1#}
          <div class="media--row">
            <div>
              <img src="{{ asset('build/img/logo-frekvence-1.svg') }}" alt="Frekvence 1">
            </div>
            <div class="media--row--content">
              <div>
                <p>Duševní zdraví těhotných žen je v Česku podceňované, varují odborníci. Pomoci má nový projekt</p>
                <a href="https://www.frekvence1.cz/clanky/zpravy/dusevni-zdravi-tehotnych-zen-je-v-cesku-podcenovane-varuji-odbornici-pomoci-ma-novy-projekt.shtml" target="_blank" class="button button--arrow">
                  <span>Přečíst článek</span>
                  <span class="icon icon--icon-arrows-simple-right-stroked">
                  <svg class="icon__svg"><use xlink:href="#icon-arrows-simple-right-stroked"></use></svg>
                </span>
                </a>
              </div>
            </div>
          </div>
{#          Deník#}
          <div class="media--row">
            <div>
              <img src="{{ asset('build/img/logo-denik.svg') }}" width="220" alt="Deník">
            </div>
            <div class="media--row--content">
              <div>
                <p>Místo radosti dno. Pětina českých maminek má splín, pomůže jim vyšetření</p>
                <a href="https://www.denik.cz/zdravi/misto-radosti-dno-petina-ceskych-maminek-ma-splin-pomuze-jim-vysetreni-20190420.html" target="_blank" class="button button--arrow">
                  <span>Přečíst článek</span>
                  <span class="icon icon--icon-arrows-simple-right-stroked">
                  <svg class="icon__svg"><use xlink:href="#icon-arrows-simple-right-stroked"></use></svg>
                </span>
                </a>
              </div>
            </div>
          </div>
{#          Parlamentní listy#}
          <div class="media--row">
            <div>
              <img src="{{ asset('build/img/logo-parlamentnilisty.png') }}" style="background:#a30;padding: 8px;" width="220" alt="Parlamentní listy">
            </div>
            <div class="media--row--content">
              <div>
                <p>NÚDZ: Systematická péče o duševní zdraví nastávajících maminek v Česku zaostává</p>
                <a href="https://www.parlamentnilisty.cz/zpravy/tiskovezpravy/NUDZ-Systematicka-pece-o-dusevni-zdravi-nastavajicich-maminek-v-Cesku-zaostava-578649" target="_blank" class="button button--arrow">
                  <span>Přečíst článek</span>
                  <span class="icon icon--icon-arrows-simple-right-stroked">
                  <svg class="icon__svg"><use xlink:href="#icon-arrows-simple-right-stroked"></use></svg>
                </span>
                </a>
              </div>
            </div>
          </div>
{#          Startup jobs#}
          <div class="media--row">
            <div>
              <img src="{{ asset('build/img/logo-startup-jobs.svg') }}" width="220" alt="Startup jobs">
            </div>
            <div class="media--row--content">
              <div>
                <p>Psychické problémy žen v těhotenství a po porodu jsou stále tabu. Cestu z deprese nebo úzkosti pomůže najít aplikace</p>
                <a href="https://www.startupjobs.cz/newsroom/psychicke-problemy-zen-v-tehotenstvi-a-po-porodu-jsou-stale-tabu-cestu-z-deprese-nebo-uzkosti-pomuze-najit-aplikace" target="_blank" class="button button--arrow">
                  <span>Přečíst článek</span>
                  <span class="icon icon--icon-arrows-simple-right-stroked">
                  <svg class="icon__svg"><use xlink:href="#icon-arrows-simple-right-stroked"></use></svg>
                </span>
                </a>
              </div>
            </div>
          </div>

          <div class="center">
            <button class="button button--primary js-media-show">Zobrazit 10+ médií</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
