<section class="main-article">
  <div class="container">
    <div class="main-article--wrapper">
      <div class="main-article--grid">
        <div class="main-article--content">
          <h2 class="h3">Co zde nalezneme?</h2>
          <p>V současnosti roste počet žen, které musí v období gravidity pravidelně užívat psychofarmaka z důvodu duševního onemocnění. Užívání psychofarmak pak bývá často nutné i v&nbsp;období po porodu a během laktace. Psychická pohoda ženy je nutným předpokladem pro navázání a následné prohlubování citové vazby matka-dítě, která je důležitá pro plnohodnotný vývoj dítěte. Neléčené duševní poruchy v&nbsp;poporodním období negativně ovlivňují kapacitu matky ke tvoření této citové vazby, což má dlouhodobé dopady na její dítě.  </p>
          <p>Kojení je všeobecně uznáváno jako nejpřirozenější metoda výživy novorozeného dítěte a také hraje roli při budování emočních vazeb mezi matkou a jejím dítětem. Většina léčiv přechází do mateřského mléka, a může tak negativně ovlivňovat organismus dítěte. Při volbě farmakologické intervence v&nbsp;tomto období musíme tedy zohledňovat bezpečnostní profil daných farmak, benefity kojení i to, zda matka chce své dítě kojit či nikoliv, a&nbsp;naši volbu tomuto rozhodnutí přizpůsobit.</p>
          <p>V&nbsp;otázkách psychofarmakologie při laktaci tedy musíme vyhodnotit všechna přítomná potenciální rizika u našich pacientek individuálně. Přinášíme proto: </p>
          <ol>
            <li>informace o specificích vybraných duševních poruch v&nbsp;poporodním období </li>
            <li>Informace o  psychofarmacích v laktaci</li>
          </ol>
          <h2 class="h3">Pro koho je obsah určen?</h2>
          <p>Pro lékaře a lékařky, kteří mají v&nbsp;péči těhotné ženy a starají se o jejich duševní zdraví a chtějí svou péči poskytovat dle aktuálního stavu poznání. </p>
          <h2 class="h3">Jak Vám můžeme pomoci?</h2>
          <p>Perinatální ambulance Národního ústavu duševního zdraví v&nbsp;Klecanech poskytuje konziliární vyšetření v&nbsp;oblasti psychofarmakologie v&nbsp;laktaci (pro informace kontaktujte <a href="mailto:ambulance@nudz.cz">ambulance@nudz.cz</a>).</p>
          <p>
            <small> <strong>Upozornění:</strong> Informace zde prezentované nejsou míněny jako náhrada za odborný úsudek
              ošetřujícího lékaře / lékařky. Doporučení ohledně těhotenství a kojení týkající se vaší konkrétní situace
              byste
              měli konzultovat se svým poskytovatelem zdravotní péče. Nezaručujeme ani nepřebíráme žádnou zodpovědnost nebo
              odpovědnost za přesnost nebo úplnost informací na této stránce. </small>
          </p>
        </div>
        <div class="main-article--aside">
          <h2 class="h3">Připravená témata</h2>
          <div class="main-article--box">
            <a href="{{ path('app_default_pageAction_forProfessionals_postpartum', {'slug':'obecna-psychofarmakologie-v-laktaci'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Obecná psychofarmakologie v laktaci</span>
              <span class="main-article--box--text">Délka: 6min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
            <a href="{{ path('app_default_pageAction_forProfessionals_postpartum', {'slug':'antidepresiva-a-kojeni'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Antidepresiva a kojení</span>
              <span class="main-article--box--text">Délka: 7min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
            <a href="{{ path('app_default_pageAction_forProfessionals_postpartum', {'slug':'antipsychotika-a-kojeni'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Antipsychotika a kojení</span>
              <span class="main-article--box--text">Délka: 8min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
            <a href="{{ path('app_default_pageAction_forProfessionals_postpartum', {'slug':'benzodiazepiny-z-hypnotika-a-kojeni'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Benzodiazepiny, z-hypnotika a kojení</span>
              <span class="main-article--box--text">Délka: 8min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
            <a href="{{ path('app_default_pageAction_forProfessionals_postpartum', {'slug':'stabilizatory-nalady-a-kojeni'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Stabilizátory nálady a kojení</span>
              <span class="main-article--box--text">Délka: 8min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
            <a href="{{ path('app_default_pageAction_forProfessionals_postpartum', {'slug':'poporodni-deprese'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Poporodní deprese</span>
              <span class="main-article--box--text">Délka: 7min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
            <a href="{{ path('app_default_pageAction_forProfessionals_postpartum', {'slug':'uzkostne-poruchy-po-porodu'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Úzkostné poruchy po porodu</span>
              <span class="main-article--box--text">Délka: 5min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
            <a href="{{ path('app_default_pageAction_forProfessionals_postpartum', {'slug':'bipolarni-porucha-po-porodu'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Bipolární porucha po porodu</span>
              <span class="main-article--box--text">Délka: 4min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
            <a href="{{ path('app_default_pageAction_forProfessionals_postpartum', {'slug':'poporodni-psychoza'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Poporodní psychóza</span>
              <span class="main-article--box--text">Délka: 7min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
            <a href="{{ path('app_default_pageAction_forProfessionals_postpartum', {'slug':'schizofrenie-po-porodu'}) }}" class="main-article--box--row">
              <span class="main-article--box--link">Schizofrenie po porodu</span>
              <span class="main-article--box--text">Délka: 5min.</span>
              <span class="icon icon--icon-chevron-simple-circle-right-stroked">
                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>
              </span>
            </a>
{#            <a href="#poskytuji-peci-poporodu" class="main-article--box--row js-modal-open">#}
{#              <span class="main-article--box--link">Poskytuji péči</span>#}
{#              <span class="main-article--box--text">Délka: 10min.</span>#}
{#              <span class="icon icon--icon-chevron-simple-circle-right-stroked">#}
{#                <svg class="icon__svg"><use xlink:href="#icon-chevron-simple-circle-right-stroked"></use></svg>#}
{#              </span>#}
{#            </a>#}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
