<section class="recent-articles">
  <div class="container">
    <div class="recent-articles--wrapper">
      <div class="recent-articles--header">
        <h2 data-aos="fade-right">Napsali o nás</h2>
        <div class="recent-articles--arrows" data-aos="fade-left">
          <button class="recent-articles--arrow recent-articles--prev">
              <span class="icon icon--icon-arrow-left">
                <svg class="icon__svg"><use xlink:href="#icon-arrow-left"></use></svg>
              </span>
          </button>
          <button class="recent-articles--arrow recent-articles--next">
            <span class="icon icon--icon-arrow-left icon__rotate-180">
              <svg class="icon__svg"><use xlink:href="#icon-arrow-left"></use></svg>
            </span>
          </button>
        </div>
      </div>
      <div class="recent-articles--slider" data-aos="fade-up">
        <a href="https://www.tyden.cz/rubriky/zdravi/nova-aplikace-pomuze-zenam-s-psychikou-v-tehotenstvi-a-po-porodu_552955.html" target="_blank" class="recent-articles--box">
          <span class="recent-articles--picture">
            <img src="{{ asset('build/img/logo-tyden-cz.png') }}" alt="" class="recent-articles--logo">
          </span>
          <p class="recent-articles--date">27.7.2021</p>
          <h3>Nová aplikace pomůže ženám s psychikou v těhotenství a po porodu</h3>
          <p class="recent-articles--text">Nová aplikace zvaná Kogito má pomoct ženám s psychikou v těhotenství a po porodu. Podle odborníků až každá pátá žena zažije v tomto období příznaky duševní nepohody, jako jsou úzkost či deprese, a až 75 procent českých žen na mateřské nebo rodičovské dovolené nevyhledá odbornou pomoc. Aplikace vyvinutá vědci z Národního ústavu duševního zdraví (NUDZ) ve spolupráci s organizací Úsměv mámy pomůže zvýšit dostupnost odborné pomoci, řekl v úterý mluvčí NUDZ Jan Červenka. Aplikace je zdarma od pondělí dostupná v Google Play pro telefony s Androidem, od září bude dostupná i pro Apple zařízení.</p>
        </a>
        <a href="https://www.barrandov.tv/rubriky/spolecnost/zdravi/nova-aplikace-pomuze-zenam-s-psychikou-v-tehotenstvi-a-po-porodu_16616.html" target="_blank" class="recent-articles--box">
          <span class="recent-articles--picture">
            <img src="{{ asset('build/img/logo-tv-barrandov-white.svg') }}" alt="" class="recent-articles--logo">
          </span>
          <p class="recent-articles--date">27.7.2021</p>
          <h3>Nová aplikace pomůže ženám s psychikou v těhotenství a po porodu</h3>
          <p class="recent-articles--text">Nová aplikace zvaná Kogito má pomoct ženám s psychikou v těhotenství a po porodu. Podle odborníků až každá pátá žena zažije v tomto období příznaky duševní nepohody, jako jsou úzkost či deprese, a až 75 procent českých žen na mateřské nebo rodičovské dovolené nevyhledá odbornou pomoc. Aplikace vyvinutá vědci z Národního ústavu duševního zdraví (NUDZ) ve spolupráci s organizací Úsměv mámy pomůže zvýšit dostupnost odborné pomoci, řekl v úterý mluvčí NUDZ Jan Červenka. Aplikace je zdarma od pondělí dostupná v Google Play pro telefony s Androidem, od září bude dostupná i pro Apple zařízení.</p>
        </a>
        <a href="https://zezdravotnictvi.cz/zpravy/zenam-pred-a-po-porodu-pomuze-s-psychikou-nova-mobilni-aplikace/" target="_blank" class="recent-articles--box">
          <span class="recent-articles--picture">
            <img src="{{ asset('build/img/logo-ze-zdravitnictvi.png') }}" alt="" class="recent-articles--logo">
          </span>
          <p class="recent-articles--date">27.7.2021</p>
          <h3>Ženám před a po porodu pomůže s psychikou nová mobilní aplikace</h3>
          <p class="recent-articles--text">Nová aplikace zvaná Kogito má pomoct ženám s psychikou v těhotenství a po porodu. Podle odborníků až každá pátá žena zažije v tomto období příznaky duševní nepohody, jako jsou úzkost či deprese, a až 75 procent českých žen na mateřské nebo rodičovské dovolené nevyhledá odbornou pomoc.</p>
        </a>
        <a href="https://www.ozdravotnictvi.cz/zpravodajstvi/nova-aplikace-pomuze-zenam-s-psychikou-v-tehotenstvi-a-po-porodu/" target="_blank" class="recent-articles--box">
          <span class="recent-articles--picture">
            <img src="{{ asset('build/img/logo-ozdravotnictvi.png') }}" alt="" class="recent-articles--logo">
          </span>
          <p class="recent-articles--date">27.7.2021</p>
          <h3>Nová aplikace pomůže ženám s psychikou v těhotenství a po porodu</h3>
          <p class="recent-articles--text">Nová aplikace zvaná Kogito má pomoct ženám s psychikou v těhotenství a po porodu. Podle odborníků až každá pátá žena zažije v tomto období příznaky duševní nepohody, jako jsou úzkost či deprese, a až 75 % českých žen na mateřské nebo rodičovské dovolené nevyhledá odbornou pomoc. Aplikace vyvinutá vědci z Národního ústavu duševního zdraví (NUDZ) ve spolupráci s organizací Úsměv mámy pomůže zvýšit dostupnost odborné pomoci. Aplikace je zdarma od pondělí dostupná v Google Play pro telefony s Androidem, od září bude dostupná i pro Apple zařízení.</p>
        </a>
        <a href="https://www.mednews.cz/nova-aplikace-pomuze-zenam-s-psychikou-v-tehotenstvi-a-po-porodu/" target="_blank" class="recent-articles--box">
          <span class="recent-articles--picture">
            <img src="{{ asset('build/img/logo-mednews.jpg') }}" alt="" class="recent-articles--logo">
          </span>
          <p class="recent-articles--date">27.7.2021</p>
          <h3>Nová aplikace pomůže ženám s psychikou v těhotenství a po porodu</h3>
          <p class="recent-articles--text">Mezi důvody, proč ženy péči odborníků často nevyhledávají, jsou například předsudky jejich nejbližších nebo nedostupnost hlídání dětí. „Kogito je inovativní aplikace, která nemá v regionu střední a východní Evropy obdoby. Po vyplnění dotazníků, na které dostane uživatelka ihned zpětnou vazbu, se jí otevře Cesta z úzkosti nebo Cesta z deprese. V této cestě, která má každá pět etap, prochází uživatelka metodami kognitivně-behaviorální terapie (KBT), procvičuje relaxace a také plní úkoly, aby mohla procházet od jednodušších metod k těm složitějším,“ popsal aplikaci lékař Antonín Šebela z NUDZ.</p>
        </a>
        <a href="https://wick.cz/nova-aplikace-pomuze-zenam-s-psychikou-v-tehotenstvi-a-po-porodu/" target="_blank" class="recent-articles--box">
          <span class="recent-articles--picture">
            <img src="{{ asset('build/img/logo-wick.jpg') }}" alt="" class="recent-articles--logo">
          </span>
          <p class="recent-articles--date">27.7.2021</p>
          <h3>Nová aplikace pomůže ženám s psychikou v těhotenství a po porodu</h3>
          <p class="recent-articles--text">Nová aplikace zvaná Kogito má pomoct ženám s psychikou v těhotenství a po porodu. Podle odborníků až každá pátá žena zažije v tomto období příznaky duševní nepohody, jako jsou úzkost či deprese, a až 75 procent českých žen na mateřské nebo rodičovské dovolené nevyhledá odbornou pomoc. Aplikace vyvinutá vědci z Národního ústavu duševního zdraví (NUDZ) ve spolupráci s organizací Úsměv mámy pomůže zvýšit dostupnost odborné pomoci, řekl v úterý mluvčí NUDZ Jan Červenka. Aplikace je zdarma od pondělí dostupná v Google Play pro telefony s Androidem, od září bude dostupná i pro Apple zařízení.</p>
        </a>
        <a href="https://www.ceskatelevize.cz/ivysilani/10101491767-studio-ct24/221411058270802" target="_blank" class="recent-articles--box">
          <span class="recent-articles--picture">
            <img src="{{ asset('build/img/logo-ceska-televize.svg') }}" alt="" class="recent-articles--logo">
          </span>
          <p class="recent-articles--date">2.8.2021</p>
          <h3>Nová aplikace KOGITO pomůže ženám s psychikou v těhotenství a po porodu</h3>
          <p class="recent-articles--text"></p>
        </a>
        <a href="https://pozitivni-zpravy.cz/mobilni-aplikaci-jsem-vymyslel-uz-pri-studiu-rika-psychiatr-venujici-se-dusevnimu-zdravi-maminek/" target="_blank" class="recent-articles--box">
          <span class="recent-articles--picture">
            <img src="{{ asset('build/img/logo-pz.png') }}" alt="" class="recent-articles--logo">
          </span>
          <p class="recent-articles--date">4.8.2021</p>
          <h3>Mobilní aplikaci jsem vymýšlel už při studiu, říká psychiatr věnující se duševnímu zdraví maminek</h3>
          <p class="recent-articles--text">Psychickým potížím maminek se ve společnosti nedostává potřebné pozornosti. Doktor Antonín Šebela pro ně díky podpoře Technologické agentury ČR z programu ÉTA vytvořil mobilní aplikaci Kogito, která pomůže k uvolnění stresu a zlepšení nálady.</p>
        </a>
        <a href="https://tv.idnes.cz/rozstrel/rozstrel-antonin-sebela-a-veronika-kubrichtova-cely-zaznam.V210810_122658_idnestv_krr" class="recent-articles--box" target="_blank">
          <span class="recent-articles--picture">
            <img src="{{ asset('build/img/logo-idnes-tv.svg') }}" alt="" class="recent-articles--logo">
          </span>
          <p class="recent-articles--date">10. 8. 2021</p>
          <h3>Po porodu jsem trpěla depresemi, řekla v Rozstřelu žena, která dnes pomáhá ostatním matkám</h3>
          <p class="recent-articles--text">Úzkost či deprese trápí v těhotenství či po porodu každou pátou ženu. U některých jsou na vině hormony, u jiných spíš změna životní role. „Když duševní potíže trvají v kuse déle než dva týdny, je třeba vyhledat odbornou pomoc,“ shodli se v Rozstřelu Antonín Šebela, psychiatr a výzkumník z Národního ústavu duševního zdraví, a Veronika Kubrichtová z organizace Úsměv mámy.</p>
        </a>
        <a href="https://www.startupjobs.cz/newsroom/psychicke-problemy-zen-v-tehotenstvi-a-po-porodu-jsou-stale-tabu-cestu-z-deprese-nebo-uzkosti-pomuze-najit-aplikace" target="_blank" class="recent-articles--box">
          <span class="recent-articles--picture">
            <img src="{{ asset('build/img/logo-startup-jobs.svg') }}" width="255" alt="" class="recent-articles--logo">
          </span>
          <p class="recent-articles--date">1.9.2021</p>
          <h3>Psychické problémy žen v těhotenství a po porodu jsou stále tabu. Cestu z deprese nebo úzkosti pomůže najít aplikace</h3>
          <p class="recent-articles--text">Hormonální změny, nedostatek spánku, nová životní situace. A k tomu spousta představ o tom, jak by mělo vypadat ideální mateřství. Psychika žen v perinatálním období je křehká a nastávající či čerstvé matky mohou pociťovat i jiné emoce než ty pozitivní. V horším případě se pak potýkají s příznaky duševních poruch, nejčastěji deprese nebo úzkosti. Pomoc však v takovém případě vyhledá jen minimum z nich. Vědci z Národního ústavu duševního zdraví proto vyvinuli ve spolupráci s organizací Úsměv mámy aplikaci Kogito, která ženám ukáže, jak pracovat se svými myšlenkami a pocity díky technikám kognitivně behaviorální terapie.</p>
        </a>
        <a href="https://vedavyzkum.cz/inovace/inovace/mobilni-aplikaci-jsem-vymyslel-uz-pri-studiu-rika-psychiatr-venujici-se-dusevnimu-zdravi-maminek" target="_blank" class="recent-articles--box">
          <span class="recent-articles--picture">
            <img src="{{ asset('build/img/logo-vv.svg') }}" alt="" class="recent-articles--logo">
          </span>
          <p class="recent-articles--date">4. 10. 2021</p>
          <h3>Mobilní aplikaci jsem vymýšlel už při studiu, říká psychiatr věnující se duševnímu zdraví maminek</h3>
          <p class="recent-articles--text">Antonín pracuje jako psychiatr v ambulanci pro těhotné a maminky po porodu v Národním ústavu duševního zdraví. „Naše klinika je jediná svého druhu v Čechách,“ říká Antonín, který se stal lékařem jenom díky tomu, že poslechl svého učitele hudby a místo dráhy profesionálního muzikanta šel na medicínu.</p>
        </a>
        <a href="https://reporterpremium.cz/a/pLCVj/aplikace-ktera-pomaha-s-uzkostmi-startuje-ostry-provoz" target="_blank" class="recent-articles--box">
          <span class="recent-articles--picture">
            <img src="{{ asset('build/img/logo-reporter-premium.svg') }}" alt="" class="recent-articles--logo">
          </span>
          <p class="recent-articles--date">6.10.2021</p>
          <h3>Aplikace, která pomáhá s úzkostmi, startuje ostrý provoz</h3>
          <p class="recent-articles--text">První aplikace, která pomáhá ženám po porodu s duševními problémy, má za sebou fázi klinického hodnocení a vstoupila do ostrého provozu. „Výsledky vypadají velmi slibně, u žen, které si ji stáhly, došlo k výraznému zlepšení stavu,“ říká její tvůrce, psychiatr Národního ústavu duševního zdraví, Antonín Šebela s tím, že na konečné výsledky si však musíme ještě počkat.</p>
        </a>
      </div>
    </div>
  </div>
</section>
