{% trans_default_domain 'homepage' %}
<section class="video-section">
  <div class="container">
    <h2 data-aos="fade-up" class="video-section__headline"><small data-aos="fade-down" data-aos-delay="300">{% trans %}videoSection.title.0{% endtrans%}</small>{% trans %}videoSection.title.1{% endtrans%}</h2>
    <div data-aos="fade-up" class="video-section__slider">

        <div class="video-section__item js-video-start" data-video-id="rQYICM48-sk">
          <div class="video-section__item-play">
            <span class="icon icon--icon-messages-play-color">
              <svg class="icon__svg">
                <use xlink:href="#icon-messages-play-color"></use>
              </svg>
            </span>
          </div>
          <div class="video-section__item-image">
            <img src="{{ asset('build/img/video-placeholder.jpg') }}" alt="">
            <img src="https://i.ytimg.com/vi/rQYICM48-sk/hqdefault.jpg" alt="">
          </div>
        </div>

        <div class="video-section__item js-video-start" data-video-id="HCzUVBTIX00">
          <div class="video-section__item-play">
            <span class="icon icon--icon-messages-play-color">
              <svg class="icon__svg">
                <use xlink:href="#icon-messages-play-color"></use>
              </svg>
            </span>
          </div>
          <div class="video-section__item-image">
            <img src="{{ asset('build/img/video-placeholder.jpg') }}" alt="">
            <img src="https://i.ytimg.com/vi/HCzUVBTIX00/hqdefault.jpg" alt="">
          </div>
        </div>

        <div class="video-section__item js-video-start" data-video-id="7qFzqboG8qY">
          <div class="video-section__item-play">
            <span class="icon icon--icon-messages-play-color">
              <svg class="icon__svg">
                <use xlink:href="#icon-messages-play-color"></use>
              </svg>
            </span>
          </div>
          <div class="video-section__item-image">
            <img src="{{ asset('build/img/video-placeholder.jpg') }}" alt="">
            <img src="https://i.ytimg.com/vi/7qFzqboG8qY/hqdefault.jpg" alt="">
          </div>
        </div>

        <div class="video-section__item js-video-start" data-video-id="mKJCy-kcSNQ">
          <div class="video-section__item-play">
            <span class="icon icon--icon-messages-play-color">
              <svg class="icon__svg">
                <use xlink:href="#icon-messages-play-color"></use>
              </svg>
            </span>
          </div>
          <div class="video-section__item-image">
            <img src="{{ asset('build/img/video-placeholder.jpg') }}" alt="">
            <img src="https://i.ytimg.com/vi/mKJCy-kcSNQ/hqdefault.jpg" alt="">
          </div>
        </div>

        <div class="video-section__item js-video-start" data-video-id="5cRJgoe4D8I">
          <div class="video-section__item-play">
            <span class="icon icon--icon-messages-play-color">
              <svg class="icon__svg">
                <use xlink:href="#icon-messages-play-color"></use>
              </svg>
            </span>
          </div>
          <div class="video-section__item-image">
            <img src="{{ asset('build/img/video-placeholder.jpg') }}" alt="">
            <img src="https://i.ytimg.com/vi/5cRJgoe4D8I/hqdefault.jpg" alt="">
          </div>
        </div>

        <div class="video-section__item js-video-start" data-video-id="ldpeKqjcoIU">
          <div class="video-section__item-play">
            <span class="icon icon--icon-messages-play-color">
              <svg class="icon__svg">
                <use xlink:href="#icon-messages-play-color"></use>
              </svg>
            </span>
          </div>
          <div class="video-section__item-image">
            <img src="{{ asset('build/img/video-placeholder.jpg') }}" alt="">
            <img src="https://i.ytimg.com/vi/ldpeKqjcoIU/hqdefault.jpg" alt="">
          </div>
        </div>

        <div class="video-section__item js-video-start" data-video-id="MSAxIB4mudg">
          <div class="video-section__item-play">
            <span class="icon icon--icon-messages-play-color">
              <svg class="icon__svg">
                <use xlink:href="#icon-messages-play-color"></use>
              </svg>
            </span>
          </div>
          <div class="video-section__item-image">
            <img src="{{ asset('build/img/video-placeholder.jpg') }}" alt="">
            <img src="https://i.ytimg.com/vi/MSAxIB4mudg/hqdefault.jpg" alt="">
          </div>
        </div>

    </div>
  </div>
</section>
